
.addNewCoinButton {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    font: 400 11px system-ui;
    font-size: 2.5em;
    font-weight: 500;
    padding: 1em 3em;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    background-color: #FFFFFF;
    border-radius: 8px;
    color: #000000;
    margin: 2em;
    float: right;
}

.newCoinTile {
    padding: 1em;
    text-align: center;
    font-weight: 600;
}

.newCoinBodyWarning {
    margin: auto;
}

.newCoinTileBody {
    padding: 1em;
    text-align: center;
    color: #00C495;
}

.newCoinDesc {
    padding: 1em;
    text-align: center;
    color: #949698;
}

.newCoinBody {
    font-size: 2em;
}

.newCoinInput {
    font-size: 2em;
    width: 100%;
    margin: 10px 0 !important;
    background-color: #E2F5FA !important;
}

.newCoinInput label {
    z-index: 0;
}

.newCoinInput div input fieldset legend {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #292D32;
}

.textFielInputLabel * {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.textFielInputLabel input {
    padding: 14px;
}

.submitAddNewCoin {
    text-align: center;
}

.newCoinBody p {
    color: #d32f2f;
    font-size: 1.4em;
    margin: 0;
    padding-left: 0.5em;
}

#apy-id-label {
    color: red;
}

.errorMsg {
    text-align: center;
    font-size: 1.5em;
    color: #d32f2f;
}

.newCoinInputField {
    background-color: #E2F5FA;
}

.selectError div fieldset {
    border-color: #E73656 !important;
}