.projectList_full {
  padding: 2rem 2.3rem 0rem 6.5rem;
  border-top: 0.1rem solid #eceff1;
  border-bottom: 0.1rem solid #eceff1;
}

.projectList_titles {
  display: grid;
  grid-template-columns: 0.5fr 4.5fr 1.25fr 2.5fr 2.5fr 1.6fr 1.35fr;
  padding-bottom: 1.25rem;
  border-bottom: 0.1rem solid #eceff1;
}

.projectList {
  display: flex;
  flex-direction: column;
}

.projectList_defaultText {
  font-family: var(--InterRegular);
  text-align: right;
  font-size: 1.2rem;
}

.allignRight {
  text-align: right;
}

.allignLeft {
  text-align: left;
}
