.selectAndConnectWallet_container {
  font-family: var(--InterRegular);
  font-weight: 400;
  padding: 0.8rem 1rem;
  background-color: var(--lighterBlue);
  border: none;
  border-radius: 0.4rem;
  color: white;
  transition: 0.5s;
}

.selectAndConnectWallet_container:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: #009abc;
}
