.marquee__text {
  color: var(--mediumGrey);
  font-size: 1.4rem;
  font-family: var(--Helvetica);
  padding-left: 0.8rem;
  list-style-type: none;
  height: 1.5rem;
}

.powerdByHugs_full {
  padding: 0.5rem 23.5rem 0rem 23.5rem;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: hidden;
}
