.allCoins_container {
  border: 0.1rem solid #eceff1;
  padding: 2rem 0.65rem 2rem 2.5rem;
}

.allCoins_titles {
  font-family: var(--Helvetica);
  font-size: 1.4rem;
  color: var(--darkBlueText);
  font-weight: 400;
  text-align: end;
}

.allCoins_group {
  border-right: 0.1rem solid #eceff1;
  border-bottom: 0.1rem solid #eceff1;
  border-left: 0.1rem solid #eceff1;
}

.allCoins_titles_first {
  text-align: start;
  font-family: var(--Helvetica);
  font-size: 1.4rem;
  color: var(--darkBlueText);
  font-weight: 400;
}
