.allCoins_container {
  display: grid;
  border: 0.1rem solid #eceff1;
  padding: 2rem 2.5rem;
  width: 100%;
  grid-template-columns: 3fr 1.5fr 1.5fr 1.5fr 1fr 0.75fr;
  border-bottom: 0.1rem solid #eceff1;
}

.allCoins_titles {
  font-family: var(--Helvetica);
  font-size: 1.4rem;
  color: var(--darkBlueText);
  font-weight: 400;
  text-align: end;
}

.allCoins_titles_first {
  text-align: start;
}
