.allCoins_container {
  display: grid;
  border: 0.1rem solid #eceff1;
  padding: 25px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  border-bottom: 0.1rem solid #eceff1;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 222, 163, 0.11);
  border-radius: 16px 16px 0 0;
}

.allCoins_titles {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #292D32;
}

.search {
  width: 350px; 
}

.search div {
  background: #CAE4EE;
  border-radius: 12px 0 0 12px;
  height: 46px;
}

.searchBtn {
  background: #4D93AC;
  border-radius: 0 12px 12px 0;
  height: 46px;
  width: 70px;
}

.searchBtn img {
  margin: auto;
  width: 14px;
  height: 14px;
}

.allCoins_container div:not(:last-child),
.allCoins_container div:not(:first-child) {
  text-align: center;
}

.allCoins_group {
  border-right: 0.1rem solid #eceff1;
  border-bottom: 0.1rem solid #eceff1;
  border-left: 0.1rem solid #eceff1;
}

.textCenter {
  margin: auto;
}

.textStart {
  text-align: start;
}

.textEnd {
  text-align: end;
}

.allCoins_title {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.016em;
    color: #00261C;
    margin: auto 0 auto 0;
}

.cryptoHeader {
  display: flex; 
  justify-content: space-between;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.coinsListPagination {
  min-height: 50px;
  margin: auto;
  padding: 3em;
  display: flex;
  justify-content: flex-end;
  background: #FFFFFF;
  border-radius: 0 0 16px 16px;
}

.coinsListPaginationPage a {
  all: initial;
  border: none;
  color: #000000;
  width: 6.9rem;
  height: 3.3rem;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--Helvetica);
  font-size: 1.4rem;
  transition: 0.5s;
}

.coinsListPaginationPage a:hover {
  background-color: #F3F3F3;
}

.coinsListPaginationPageActive a {
  background-color: #F3F3F3;
}

.coinsListPaginationPageBreak {
  margin: 0;
  padding: 0;
}

.coinsListPaginationPageActiveDisabled a {
  opacity: 0.7;
  pointer-events: none;
}

p.sortBy {
  display: block;
  width: max-content;
  padding-right: 18px;
	position: relative;
}

p.sortBy:before,
p.sortBy:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}

p.sortBy:before {
	border-bottom-color: #666;
	margin-top: -9px;
}

p.sortBy:after {
	border-top-color: #666;
	margin-top: 1px;
}
