.connectAndDisconnectView_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 1.1rem 23.5rem;
}

.connectAndDisconnectView_title {
  font-size: 3.6rem;
  font-family: var(--InterBold);
  color: black;
  color: var(--lighterBlue);
  z-index: 2;
}

.connectAndDisconnectView_title:before {
  content: "Earn";
  color: black;
  position: absolute;
  z-index: 1;
  margin-top: -0.25rem;
  left: 23.3rem;
}
